/* 페이지 기본 스타일 설정 */

.index-slidebody {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    

}

/* 슬라이더 컨테이너 스타일 설정 */
.slider {
    overflow: hidden;
    border: 1px solid #fff;
    position: relative;
}

/* 슬라이드들을 포함하는 div 스타일 설정 */
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* 원하는 너비 설정 */
    height: 250px; /* 원하는 높이 설정 */
     /* 이미지를 자르기 위해 숨기기 */
    position: relative;
    
}

/* 각 슬라이드 스타일 설정 */
.slide {
    min-width: 100%;
    
    
}

/* 슬라이드 이미지 스타일 설정 */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비율을 유지하면서 div를 채우도록 확대 */
    object-position: center; /* 이미지를 중앙에 배치 */
    top: 0;
    left: 0;
}
